@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";


body {
  font-family: "IM Fell English SC", serif;
  /* font-family: "Lora", serif; */
}
